*{
    margin: 0;
    padding: 0;
}


body{
   
    background-size: cover;
    height: 109vh;
    background-color: #444;
}
h1{
    padding: 10px;
    color: #AAA;
    display: inline-block;
    display: flex;
    align-items: center;
    size: 30px;
    

}




